img {
  max-width: 100%;
  object-fit: contain;
}

.content {
  max-width: 320px;
}

.description {
  font-weight: 500;
  max-width: 600px;
  text-align: center;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.overlay {
  transition: 250ms ease-in-out;
}

.overlay:hover {
  background-color: rgba(255, 175, 204, 0.5);
}

.overlay > div {
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease-in-out;
}

.overlay:hover > div {
  opacity: 1;
  pointer-events: all;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
