img {
  max-width: 100%;
  object-fit: contain;
}

.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.content {
  display: block;
  margin: auto;
  max-width: 320px;
}

.description {
  display: block;
  font-weight: 500;
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.image {
  position: relative;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.overlay {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: 250ms ease-in-out;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay:hover {
  background-color: rgba(255, 175, 204, 0.5);
}

.overlay > div {
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease-in-out;
}

.overlay:hover > div {
  opacity: 1;
  pointer-events: all;
}

.row > * {
  width: unset;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
