@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

div,
pre {
  color: #444;
  font-family: 'Poppins';
  font-weight: 400;
}

pre {
  margin: 0;
}
