@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

div,
pre {
  color: #333;
  font-family: 'Poppins';
  font-weight: 400;
}

pre {
  margin: 0;
}

.absolute {
  position: absolute;
}

.absolute.coverage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.align-center {
  text-align: center;
}

.container-fluid {
  margin: 0 1rem 0 1rem;
}

.coverage {
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.screen {
  min-height: 100vh;
}
