@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

div,
pre {
  color: #333;
  font-family: "Poppins";
  font-weight: 400;
}

pre {
  margin: 0;
}

.align-center {
  text-align: center;
}

.container-fluid {
  margin: 0 1rem 0 1rem;
}

.flex {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.font-weight-500 {
  font-weight: 500;
}

.screen {
  min-height: 100vh;
}
